* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: calc(16px + 0.6vw);
  font-family: "Roboto", sans-serif;
  /* Colors */
  --aqua: #8fb9a8;
  --parchment: #fefad4;
  --salmon: #fcd0ba;
  --ruby: #f1828d;
  --plum: #765d69;
  --darkBlue: #355c7d;
  --neutralDark: #171717;
  --bloodRed: #881337;
  --slate: #cbd5e1;
  --lightRed: #e44e58;
  --cardBackground: #2e3031;
  --darkBlue: #002333;
  background-color: var(--neutralDark);
  width: 100%;
}

/* Animations */
@keyframes navLinkHover {
  to {
    color: white;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

/* Animations */

.layout {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.mobile-nav-container #nav-icon {
  font-size: 1.8rem;
  font-weight: bold;
  color: #d4d4d8;
  flex: 1;
}

.mobile-nav-container div:first-child {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mobile-nav-container div:first-child p:nth-child(1) {
  color: var(--bloodRed);
  font-size: 1rem;
}
.mobile-nav-container div:first-child p:nth-child(2) {
  color: var(--salmon);
  font-size: 1rem;
}

.mobile-nav-container {
  background-color: var(--neutralDark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  gap: 0.8rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 8px;
}

.mobile-nav-container > p:nth-child(1) {
  color: var(--parchment);
}
.mobile-nav-container > p:nth-child(2) {
  color: var(--salmon);
}
.mobile-nav-container > p:nth-child(3) {
  color: var(--ruby);
}
.mobile-nav-container > p:nth-child(4) {
  color: var(--plum);
}
.mobile-nav-container > p:nth-child(5) {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px 15px;
  font-size: 1.1rem;
}

.desktop-nav-container {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  background-color: var(--neutralDark);
}

.desktop-nav-container > div:first-child {
  margin-right: auto;
  letter-spacing: 0.3rem;
  text-align: center;
  font-weight: 600;
}

.desktop-nav-container > div:first-child:hover {
  cursor: pointer;
}

.desktop-nav-container > div p:nth-child(1) {
  color: var(--bloodRed);
}

.desktop-nav-container > div p:nth-child(2) {
  color: var(--salmon);
}

.desktop-nav-container > p {
  font-weight: 600;
  font-size: 1.2rem;
}

.desktop-nav-container > p:hover {
  animation: 1s navLinkHover linear forwards alternate;
  cursor: pointer;
}

.desktop-nav-container > p:nth-child(5) {
  color: var(--parchment);
}

.desktop-nav-container > p:nth-child(4) {
  color: var(--salmon);
}

.desktop-nav-container > p:nth-child(3) {
  color: var(--ruby);
}

.desktop-nav-container > p:nth-child(2) {
  color: var(--plum);
}

.hello-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
}

.hello-content {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.typewriter {
  display: flex;
  font-size: 2.1rem;
  gap: 0.5ch;
  font-weight: 600;
}

.typewriter > div:first-child {
  color: white;
}
.typewriter > div:nth-child(2) {
  color: var(--bloodRed);
  border-right: 3px solid var(--bloodRed);
  padding-right: 3px;
  animation: blinking 0.5s step-end infinite alternate;
}

.hello-content > div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hello-content > div:nth-child(2) button {
  border: 2px solid var(--bloodRed);
  border-radius: 20px;
  background-color: var(--neutralDark);
  color: white;
  font-size: 0.7rem;
  padding: 0.4rem 1rem;
  font-weight: bold;
}

.hello-content > div:nth-child(2) button:hover {
  cursor: pointer;
  background-color: var(--bloodRed);
  transition: background-color 0.6s linear;
}

.handle-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0px;
  bottom: 22%;
}

.handle-links > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  transform: translateX(-4rem);
}

.handle-links svg {
  width: 1rem;
}

.handle-links > div:first-child {
  background-color: #2e3031;
  color: white;
}

.handle-links > div:nth-child(2) {
  background-color: #0077b5;
  color: white;
}

.handle-links > div:hover {
  cursor: pointer;
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

.about-container {
  background-color: var(--darkBlue);
  padding: 2rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.about-container > h1 {
  display: flex;
  gap: 0.3em;
  align-items: center;
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 1.9rem;
  font-weight: 900;
  letter-spacing: 0.07rem;
  color: var(--lightRed);
  padding-bottom: 1.5rem;
}

.about-container > h1::after {
  content: "";
  flex: 1;
  margin-left: 0.3rem;
  height: 0.15rem;
  width: 6rem;
  background-color: var(--lightRed);
}

.about-container p {
  color: var(--slate);
  font-size: clamp(12px, 0.9rem, 20px);
  font-weight: 600;
  text-align: justify;
  max-width: 67%;
  line-height: 1.7;
}

.skills-layout {
  display: flex;
  flex-direction: column;
}

.skills-layout > h1 {
  display: flex;
  gap: 0.3em;
  align-items: center;
  align-self: flex-start;
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 1.9rem;
  font-weight: 900;
  letter-spacing: 0.07rem;
  color: var(--lightRed);
}

.skills-layout > h1::after {
  content: "";
  flex: 1;
  margin-left: 0.3rem;
  height: 0.15rem;
  width: 6rem;
  background-color: var(--lightRed);
}

.skills-container {
  background-color: var(--neutralDark);
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.skills-container svg {
  width: 4rem;
  color: var(--lightRed);
  font-weight: 900;
}

.card {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--cardBackground);
}

.card > p {
  font-size: clamp(12px, 1.3rem, 24px);
  font-weight: bold;
  color: white;
}

.card > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.card > div p {
  font-size: clamp(12px, 0.9rem, 18px);
  color: var(--slate);
}
.card > div svg {
  width: 1.2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: var(--darkBlue);
}

.projects-container > h1 {
  color: var(--lightRed);
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.projects-container > h1::after {
  content: "";
  margin-left: 0.3rem;
  height: 0.15rem;
  width: 6rem;
  background-color: var(--lightRed);
}

.project-cards-grid {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 12px;
  max-width: 300px;
  background-color: var(--neutralDark);
}
.project-card #shoppingCart {
  background: url("../images/shoppingCart.png");
  border-radius: 12px;
  height: 200px;
  width: 100%;
}
.project-card #memoryGame {
  background: url("../images/memoryGame.png");
  border-radius: 12px;
  height: 200px;
  width: 100%;
}
.project-card #signupSheet {
  background: url("../images/signUpSheet.png");
  border-radius: 12px;
  height: 200px;
  width: 100%;
}
.project-card #localLibrary {
  background: url("../images/localLibrary.png");
  border-radius: 12px;
  height: 200px;
  width: 100%;
}
.project-card #adminDashboard {
  background: url("../images/adminDashboard.png");
  border-radius: 12px;
  height: 200px;
  width: 100%;
}
.project-card > h1 {
  color: white;
  font-size: clamp(12px, 1.5rem, 30px);
}
.project-card > p {
  font-size: clamp(12px, 1rem, 17px);
  color: var(--slate);
  text-align: center;
}
.project-card > div > p {
  color: var(--slate);
  text-align: center;
  font-weight: bold;
  font-size: clamp(12px, 1rem, 17px);
}
.madeWith {
  display: flex;
  gap: 5px;
}
.project-card svg {
  width: 0.8rem;
  color: skyBlue;
}
.project-card > div:first-child {
  display: flex;
}
.project-card button {
  border: 0;
  border-radius: 16px;
  padding: 0.4rem 1.2rem;
  background-color: var(--lightRed);
  color: white;
  font-weight: bold;
}
.project-card button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--lightRed);
  transition: background-color 0.5s linear, color 0.5s linear;
}
.project-buttons {
  display: flex;
  gap: 1rem;
}
.contact-container {
  background-color: var(--salmon);
}
